<div class="alert alert-warning text-center" role="alert">
    <i class="bi bi-exclamation-circle-fill"></i> <strong>Uyarı:</strong> Bu konaklama evine ait henüz eklenmiş bir oda bulunmamaktadır.
</div>
