<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="index.html">DAFSEM</a></h1>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto " href="index.html">Anasayfa</a></li>

                <li class="dropdown">
                    <a href=""><span>Kurullar</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="düzenlemeKurulu.html">Düzenleme Kurulu</a></li>
                        <li><a href="bilimKurulu.html">Bilim Kurulu</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="">
                        <span>Sempozyum Hakkında</span> <i class="bi bi-chevron-down"></i>
                    </a>
                    <ul>
                        <li><a href="davetliKonusmacilar.html">Davetli Konuşmacılar</a></li>
                        <li><a href="sempozyumBasliklari.html">Sempozyum Başlıkları</a></li>
                        <li><a href="sempozyumProgrami.html">Sempozyum Programı</a></li>
                        <li><a href="onemliTarihler.html">Önemli Tarihler</a></li>
                        <li><a href="yazimKurallari.html">Yazım Kuralları</a></li>
                        <li><a href="sunumKurallari.html">Sunum Kuralları</a></li>
                        <li><a href="katilimUcreti.html">Katılım Ücreti</a></li>
                        <li><a href="konaklama.html">Konaklama</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="basvuru.html">Başvuru</a></li>


                <li><a class="nav-link scrollto" href="iletisim.html">İletişim</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header>
