@using dafsem.Models.ViewModels.Login;
@model LoginViewModel;

@{
    Layout = "_AccountLayout";
}

<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                        <a href="index.html" class="logo d-flex align-items-center w-auto">
                            <img src="~/Admin/img/logo.png" alt="">
                            <span class="d-none d-lg-block">Hoş Geldiniz</span>
                        </a>
                    </div><!-- Logo Bitişi -->

                    <div class="card mb-3">

                        <div class="card-body">

                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Hesabınıza Giriş Yapın</h5>
                                <p class="text-center small">Giriş yapmak için kullanıcı adınızı ve şifrenizi girin</p>
                            </div>

                            <form asp-action="Login" asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="row g-3 needs-validation" novalidate>
                                <div class="col-12">
                                    <label asp-for="Email" class="form-label"></label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrepend">@@</span>
                                        <input asp-for="Email" class="form-control"  />
                                    </div>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <label asp-for="Password" class="form-label"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <div class="form-check">
                                        <input asp-for="RememberMe" class="form-check-input" id="rememberMe" />
                                        <label asp-for="RememberMe" class="form-check-label"></label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Giriş Yap</button>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
</div>

@section Scripts {
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
}
