@using dafsem.Models.ViewModels.UserSite
@model BasvuruViewModel
@{
    Layout = "UserSite/_Layout";
}
<section id="featured-services" class="featured-services">
    <div class="container text-center" data-aos="fade-up">
        <h3 class="mb-5" style="font-family: marcellus, marcellus, serif !important;">
            @Model?.UstMetin
        </h3>

        <div class="btn-group mb-5" role="group" aria-label="Basic example">
            <a id="indirLink" type="button" style="font-family: marcellus, marcellus, serif !important;"
               class="btn btn-secondary" href="#">Formu İndir</a>
            <button id="indirButton" type="button" class="btn btn-secondary">
                <i class="bx bx-download"></i>
            </button>
        </div>

        <div class="btn-group  mb-5" role="group" aria-label="Basic example">
            <a type="button" style="font-family: marcellus, marcellus, serif !important;"
               class="btn btn-secondary" href="mailto:@Model?.EPosta">@Model.EPosta</a>
            <button id="epostaKopyala" type="button" class="btn btn-secondary ">
                <i class="bx bx-copy"></i>
            </button>
        </div>


        <!-- Görünmez input alanı -->
        <input type="text" id="eposta" value="@Model.EPosta" style="position: absolute; left: -9999px;">

        <h3 class="mb-5" style="font-family: marcellus, marcellus, serif !important;">
            @Model?.AltMetin
        </h3>

    </div>
</section>