@model string[]
@{
    Layout = "UserSite/_Layout";
}
<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">

            @foreach (var kural in Model)
            {
                <div class="col-12 w-100 d-flex align-items-stretch my-3 mb-lg-0">
                    <div class="icon-box w-100" data-aos="fade-up" data-aos-delay="100">
                        <li class="description w-100 fs-5">
                            @kural
                        </li>
                    </div>
                </div>
            }
        </div>
    </div>
</section>